@import "tailwindcss";

body {
  background-color: #e0dede;
  color: #333333;
}

.infinite-scroll-component {
  animation: InfiniteMarquee 15s linear infinite;
}

@keyframes InfiniteMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
